DATABASE_URL=postgresql+asyncpg://user:password@localhost/dbname
ENV=development
DEBUG=False
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_PROFILES_SAMPLE_RATE=0.0
WEBHOOK_SECRET=super-secret-webhook-token